.idea
/Milestone1/**.ttl
/Milestone1/****.nt
/Milestone2/**.ttl
/Milestone2/****.nt
/Milestone1/**.pkl
/Milestone1/**.zip
/Milestone1/**.csv
/Milestone2/**.pkl
/Milestone2/**.zip
/Milestone2/**.csv
**.DS_Store
**__pycache__
**.ipynb_checkpoints
